services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  api:
    build: .
    container_name: api
    command: python app.py
    volumes:
      - .:/app
    depends_on:
      - rabbitmq

  worker:
    build: .
    container_name: worker
    command: python worker.py
    volumes:
      - .:/app
    depends_on:
      - rabbitmq
